article
{
    padding-top: 30px;
}

html{
  background-color: #333333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
  text-align: center;
}

li {
  float: left;
  color: black;
  text-align: center;
  font-family: sans-serif;
}

.imgContainer
{
  display: block;
    color: white;
    text-align: center;
    padding: 16px;
  
}

.imgpreview
{
background-image: url("images/ornstein.jpg");
width: 230px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: sans-serif;
}
li a2
{
  color:grey;
  padding: 5px;
  font-family: sans-serif;
  text-align: center;
}

a3
{
  text-align: center;
  padding: 15px;
  font-family: sans-serif;
}

a{
  color: white;
}

.center{
  align-items: center;
}

li a:hover {
  background-color: #111111;
}
.right
{
  position: absolute;
  top: 8px;
    right: 0px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.rt
{

  position: absolute;
    top: 8px;
    right: -150px;
    width: 300px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav
{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;

}

img
{

padding: 15px;
align-items: center;
margin-left: 30px;
vertical-align: center;
}

.thumbnail{
  max-width: 200px;
  max-height: 200px;
}

/*
.imgpreview
{
width: 230px;
height: 230px;
background: center;
flex-basis: 20%;
background-size: cover;
background-position: center;
}*/

a:visited {
  color: white;
}
a:hover
{
  color: grey;
/*
  color: brown;
  font-family: serif;*/
}

span {
  /*
  color: purple;
  font-size: 24px;
  font-family: 'open sans';*/
}

h1
{
padding-bottom: 25px;
text-align: center;
font-family: sans-serif;

}

h2
{
font-family: sans-serif;
  text-align: center;
  color: white;
}

h3
{
text-align: center;
display: inline;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  display: inline-block;
  padding: 16px;
  font-family: sans-serif;
  color: orange;

}

p
{
text-align: center;
padding: 15px;
font-family: sans-serif;
color: white;
}

footer{

text-align: center;
}
header{
  /*
  margin: 2em;
  border: 2rem solid;
  color: lime;
  position: fixed;
  */
}


.modal {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.modal-content {
  width: 40vw;
  height: 40vw;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}
.modalIMG{
  width: 100%;
}

/* https://stackoverflow.com/a/7310398/1944212 */
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modalImage {
  vertical-align: middle;
  width: 100%;
}

.close-cursor{
  display: block;
  clear: both;
  font-size: 2em;
  text-decoration: underline;
  background: inherit;
  color: orange;
}
.close-cursor:hover {
  color: blue;
}





/*Zoom in on hovered objects*/
.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
